body{
font-family:Arial;
text-align:center;
padding-top:100px;
background:#f4f4f4;
transition:0.4s;
}

.container{
width:80%;
margin:auto;
}

h1{
margin-bottom:20px;
}

p{
font-size:22px;
margin-bottom:20px;
}

button{
padding:12px 20px;
margin:10px;
border:none;
background:#2a5298;
color:white;
cursor:pointer;
border-radius:5px;
}

.dark{
background:#222;
color:white;
}